<h3>Row-span sample</h3>

<table mat-table *ngIf="rowSpans" [dataSource]="data" class="mat-elevation-z8">
  <ng-container *ngFor="let columnName of allButLastColumnNames; let iCol = index" [matColumnDef]="columnName">
    <th mat-header-cell *matHeaderCellDef class="grey-background">{{ columnName }}</th>
    <!--<th mat-header-cell *matHeaderCellDef>{{ columnName }}.second</th>-->
    <td mat-cell *matCellDef="let row; let iRow = index" [attr.rowspan]="rowSpans[iCol][iRow].span"
       [style.display]="rowSpans[iCol][iRow].span === 0 ? 'none'  : ''"
       [class]="(iRow === 6 || iRow === 0) && iCol === 0 ? 'rotate-value' : ''">
        {{ row[columnName] }}
    </td>
  </ng-container>
  <ng-container [matColumnDef]="lastColumnName">
    <th mat-header-cell *matHeaderCellDef class="rotate-value grey-background">{{ lastColumnName }}</th>
    <!--<th mat-header-cell *matHeaderCellDef>{{ lastColumnName }}.second</th>-->
    <td mat-cell *matCellDef="let row; let iRow = index">{{ row[lastColumnName] }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
</table>