<div>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications == 0">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below before" color="Accent">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above after">Notifications</span>
</div>

<div>
  <span matBadge="5">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below before" matBadgeColor="accent">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above after" matBadgeOverlap="false">Notifications</span>
</div>


<div>
  <span matBadge="5" matBadgeSize="small">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeSize="medium" matBadgePosition="below before" color="Accent">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeSize="large" matBadgePosition="above after">Notifications</span>
</div>
