<mat-accordion multi="true" hideToggle>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Augular Fundamentals</mat-panel-title>
      <mat-panel-description>Durations: 3 hrs</mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the content for the details</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Augular Material</mat-panel-title>
      <mat-panel-description>Durations: 1 hrs</mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the content for the details</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
